  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" id="shortCutIcon" href="" type="image/x-icon" />
    <link rel="icon" id="shortIcon" href="" type="image/x-icon" />
    <meta content="yes" name="apple-touch-fullscreen">
    <title></title>
    <style type="text/css">
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
 </style>
  </head>

  <body style="margin: 0px; background-color: #f1f1f1">
    <div id="app">
      <router-view></router-view>
    </div>
  </body>
</html>
